h1, h2, h3, h4, td, p, a {
    color: black;
    font-size: 22;
    font-family: Papyrus;
}

h1 {
    clear: both;
}

body {
    background-color: #D1BEA8;
}

.logo {
    float: left;
}

ul {
    float: left;
}

li {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    border: 1px solid #444;
    padding: 4px;
    border-radius: 5px;
}

li a {
    text-decoration: none;
}